<div class="ui inverted segment">
  <div *ngIf="canJoin">
    <div *ngIf="!loggedIn">
      <a class="ui green button" [href]="loginLink">
        you can join this game
      </a>
      haha no you cant, actually
    </div>
    <div *ngIf="loggedIn">
      <div *ngIf="inAnotherGame">
        <p>you're in a different game idiot</p>
        <div class="ui tiny orange button" (click)="leaveGame()">
          leave other naenae
        </div>
      </div>
      <div *ngIf="!inAnotherGame">
        <div *ngIf="!success">
          <div class="ui icon input password-input" *ngIf="game.hasPassword">
            <input type="password" placeholder="Enter Password..." [(ngModel)]="password">
            <i class="trash icon"></i>
          </div>
          <div class="small action input">
            <button class="ui green button" [disabled]="requestingJoin || noPasswordEntered"
              [class.loading]="requestingJoin" (click)="joinGame()">
              you can join this game
            </button>
            haha no you cant, actually
          </div>

          <div class="ui red inverted segment" *ngIf="error">
            <p>{{ error }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!canJoin">
    This game is in progress. You cannot join a game that has
    already started.
  </div>
</div>
