<table class="ui inverted table unstackable">
  <thead>
    <th>bruh</th>
    <th>who</th>
    <th>number</th>
    <th>letter</th>
    <th>percentage</th>
    <th>did he fc</th>
    <th>ez miss</th>
    <th>FL if your not bad</th>
  </thead>
  <tbody>
    <tr [ngClass]="scoreClass(score)" *ngFor="let score of scores; let i = index;">
      <td>{{ score.place || '...' }} {{ score.place && scores[i - 1] && scores[i - 1].place === score.place ? '= ' : '' }}</td>
      <td [class.my-name]="currentUser === score.username">{{ score.username }}</td>
      <td>{{ score.score | number }}</td>
      <td>{{ getRank(score.rank) }}</td>
      <td>{{ score.accuracy }}%</td>
      <td>{{ score.maxCombo }}</td>
      <td>{{ score.misses }}</td>
      <td>{{ getModString(score.mods) || '-' }}</td>
    </tr>
  </tbody>
</table>
