<div class="ui inverted container section">
  <div class="ui grid">
    <div class="thirteen wide column">
      <h1 class="ui inverted header">matches</h1>
      <p>matches run pretty much never and currently require at 4 human souls to start
      </p>
      <p>
        naenaers currently online: {{ onlinePlayersCount }}
      </p>
    </div>
    <div class="three wide right aligned column">
      <a class="ui green button create" *ngIf="canCreate" [routerLink]="'/lobbies/create'">
        Create Lobby
      </a>
      <i class="large link icon" [class.redo]="!fetching" [class.spinner]="fetching" [class.loading]="fetching" (click)="fetch()"></i>
    </div>
  </div>

  <h2 *ngIf="scheduledGames.length">Upcoming Events</h2>
  <app-lobbies-list *ngIf="scheduledGames.length" [lobbies]="scheduledGames"></app-lobbies-list>

  <h2>matches you cant join cause i broke the login system</h2>
  <div class="ui inverted form">
    <div class="inline fields">
      <div class="field">
        <label>game modes</label>
      </div>
      <div class="field">
        <sui-checkbox [(ngModel)]="showGameModes['0']" (ngModelChange)="applyGameModeFilters()">
          whip mode
        </sui-checkbox>
      </div>
      <div class="field">
        <sui-checkbox [(ngModel)]="showGameModes['3']" (ngModelChange)="applyGameModeFilters()">
          bad
        </sui-checkbox>
      </div>
      <div class="field">
        <sui-checkbox [(ngModel)]="showGameModes['2']" (ngModelChange)="applyGameModeFilters()">
          shit
        </sui-checkbox>
      </div>
      <div class="field">
        <sui-checkbox [(ngModel)]="showGameModes['1']" (ngModelChange)="applyGameModeFilters()">
          bad
        </sui-checkbox>
      </div>
    </div>
  </div>
  <div *ngIf="!joinableGames.length" class="ui inverted segment">
    <p>
      you're fucked
    </p>
  </div>
  <app-lobbies-list class="joinable" [lobbies]="joinableGames"></app-lobbies-list>

  <h2 *ngIf="inProgressGames.length">matches you still cant join</h2>
  <app-lobbies-list class="inprogress" [lobbies]="inProgressGames"></app-lobbies-list>

  <h2 *ngIf="completedGames.length">matches that you could join but didnt</h2>
  <app-lobbies-list class="finished" [lobbies]="completedGames"></app-lobbies-list>
</div>
