<div class="ui inverted segment no-bg">
  <div class="ui equal width inverted divided grid">
    <div class="one wide column">
      <a [routerLink]="['/lobbies']">
        <i class="large angle left icon"></i>
      </a>
    </div>
    <div class="column">
      <h5>naenae name</h5>
      {{ game.title }}
    </div>
    <div class="column">
      <h5>status</h5>
      {{ status }}
    </div>
    <div class="column" *ngIf="game.status === 'complete'">
      <h5>someone somehow won</h5>
      {{ game.winningUser ? game.winningUser.username : 'No one won!' }}
    </div>
    <div class="column">
      <h5>round{{ game.status === 'complete' ? 's' : '' }}</h5>
      {{ game.roundNumber || '-' }}
    </div>
    <div class="column" *ngIf="game.status !== 'complete'">
      <h5>{{ nextStageStartsMsg }}</h5>
      {{ game.status !== 'checking-scores' ? timeLeft : ''}}
    </div>
    <div class="column" *ngIf="canEdit">
      <a class="ui primary button" [routerLink]="['/lobbies', game._id, 'edit']">
        edit naenae
      </a>
    </div>
    <div class="column" *ngIf="game.status === 'new' && inGame">
      <div class="ui red button" (click)="leaveGame()">pussy out</div>
    </div>
    <div class="center aligned column" *ngIf="connectionLost"  suiPopup popupInverted="true" popupText="The server may be restarting or down for maintenance.">
      <h5>uh oh stinky</h5>
      <i class="red notched circle loading icon"></i>
    </div>
  </div>
</div>
